<!DOCTYPE html>
<html lang="en">
<head>
    <title>추가 페이지입니다.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'hb_main/adding.css' %}">
</head>
<body>
    <div style="text-align: center;">
    <form action={% url 'hb_main:adding' %} method="POST">
        {% csrf_token %}
        <input placeholder="습관을 입력하세요" name="name" style="height: 20px; width: 300px;"/>
        <button type="submit" id="habit-add">습관 추가 →</button>
    </form>
    </div>
</body>
</html>