<html>
<head>
<title>statics</title>
{% load static %}
<style type="text/css">
#body {
background: white url("background.jpg") repeat;
}
.stat-body{background: url("../../static/hb_main/image/background.jpg")}
#calendar {

border-radius: 5px;
-moz-border-radius: 5px;
}
#calendar table {
border-collapse: collapse;
background-color: white;
margin: 10px auto;
font-size: 18px;
padding: 0px
border= 0px;
}
td, th {

text-align: center;
vertical-align: middle;
color: #444;
position: relative;
}
th {

font-weight: bold;
font-size: 14px;
border: 1px solid #444444;}
tbody{width: 40px;}th.month {
text-align: center;
}
td {
border: 1px solid #444444;
 width: 40px;}
td.noday {
border: 0px;
}
td:hover {
color: #222;
}
td.action_day {
color:#21b7d5;;
font-weight: bold;
}
</style>
</head>
<body class="stat-body">
<div id="calendar" style="display:flex; margin-left: 330px"><table class="month" style="margin-left: -100px; background:transparent;border: 1px solid #444444;border-collapse: collapse;width: 300px; height: 300px;">
<tr><th colspan="7" class="month">September 2021</th></tr>
<tr><th class="sun">Sun</th><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="action_day wed">1</td><td class="action_day thu">2</td><td class="action_day fri">3</td><td class="action_day sat">4</td></tr>
<tr><td class="sun">5</td><td class="mon">6</td><td class="action_day tue">7</td><td class="wed">8</td><td class="thu">9</td><td class="fri">10</td><td class="action_day sat">11</td></tr>
<tr><td class="action_day sun">12</td><td class="mon">13</td><td class="tue">14</td><td class="wed">15</td><td class="action_day thu">16</td><td class="fri">17</td><td class="sat">18</td></tr>
<tr><td class="action_day sun">19</td><td class="mon">20</td><td class="action_day tue">21</td><td class="action_day wed">22</td><td class="action_day thu">23</td><td class="action_day fri">24</td><td class="action_day sat">25</td></tr>
<tr><td class="action_day sun">26</td><td class="action_day mon">27</td><td class="action_day tue">28</td><td class="wed">29</td><td class="action_day thu">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
<table class="month" style="margin-left: -100px; background:transparent;border: 1px solid #444444;border-collapse: collapse;width: 300px; height: 300px;">
<tr><th colspan="7" class="month">October 2021</th></tr>
<tr><th class="sun">Sun</th><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="action_day fri">1</td><td class="action_day sat">2</td></tr>
<tr><td class="sun">3</td><td class="mon">4</td><td class="action_day tue">5</td><td class="wed">6</td><td class="thu">7</td><td class="action_day fri">8</td><td class="sat">9</td></tr>
<tr><td class="sun">10</td><td class="action_day mon">11</td><td class="tue">12</td><td class="wed">13</td><td class="thu">14</td><td class="fri">15</td><td class="action_day sat">16</td></tr>
<tr><td class="action_day sun">17</td><td class="action_day mon">18</td><td class="action_day tue">19</td><td class="wed">20</td><td class="action_day thu">21</td><td class="fri">22</td><td class="sat">23</td></tr>
<tr><td class="sun">24</td><td class="mon">25</td><td class="action_day tue">26</td><td class="action_day wed">27</td><td class="action_day thu">28</td><td class="action_day fri">29</td><td class="action_day sat">30</td></tr>
<tr><td class="sun">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
<table class="month" style="margin-left: -100px; background:transparent;border: 1px solid #444444;border-collapse: collapse;width: 300px; height: 300px;">
<tr><th colspan="7" class="month">November 2021</th></tr>
<tr><th class="sun">Sun</th><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th></tr>
<tr><td class="noday">&nbsp;</td><td class="action_day mon">1</td><td class="action_day tue">2</td><td class="action_day wed">3</td><td class="thu">4</td><td class="fri">5</td><td class="sat">6</td></tr>
<tr><td class="sun">7</td><td class="mon">8</td><td class="tue">9</td><td class="wed">10</td><td class="thu">11</td><td class="fri">12</td><td class="sat">13</td></tr>
<tr><td class="sun">14</td><td class="mon">15</td><td class="tue">16</td><td class="wed">17</td><td class="thu">18</td><td class="fri">19</td><td class="sat">20</td></tr>
<tr><td class="sun">21</td><td class="mon">22</td><td class="tue">23</td><td class="wed">24</td><td class="thu">25</td><td class="fri">26</td><td class="sat">27</td></tr>
<tr><td class="sun">28</td><td class="mon">29</td><td class="tue">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</div>
<div class="img-container" style="margin-left: 330px;"><img src="{% static 'hb_main/image/savefig_day.png' %}" style="width: 500px; height: 400px;"><img src="{% static 'hb_main/image/savefig_week.png' %}" style="width: 500px; height: 400px;"></div>
</body>
</html>